header.site-header
  .container
    a.brand(href='/') jetsoft
    nav.site-nav(aria-label='Главное меню')
      a(href='/about') Обо мне
      a(href='#experience') Опыт
      a(href='#portfolio') Портфолио
      a(href='#gallery') Галерея
      a(href='#contacts') Контакты
      a(href='/register') Регистрация
      a(href='/all_users') Пользователи
